__pycache__/
Algo.Py/strategy/private
strategy/private/
strategy/private/*
.env
*.db
*.log
.pytest_cache/
database/db/*
database/deployment/*
database/backtest/*
database/finstore/*
BTengine/*
documentation/*
deploy_logs/*
.vscode
*.db*
to-do.txt
.cache*