__pycache__/
Quantipy/strategy/private
strategy/private/
strategy/private/*
.env
*.db
*.log
.pytest_cache/
database/db/*
database/finstore/*
BTengine/*
documentation/*
backtest_results/*
deploy_logs/*
*.db*
to-do.txt